@import "./../styles/fontSizes.css";
@import "./../styles/colors.css";
@import "./../styles/fonts.css";

.hero {
  display: grid;
  grid-template-columns: minmax(0, 420px) minmax(0, 500px);
  grid-template-areas:
    "heroTitle heroImg"
    "heroDesc heroImg"
    "heroButton heroImg";

  align-items: center;
  justify-content: center;
  column-gap: 32px;
  padding: 120px 80px;
  scroll-margin-top: 104px;
}

.heroTitle {
  grid-area: heroTitle;
  font-size: var(--text-2xl);
  font-family: var(--font-outfit);
  margin: 0;
  max-width: 420px;
  text-wrap: balance;
}

.heroDesc {
  grid-area: heroDesc;
  font-size: var(--text-m);
  font-family: var(--font-outfit);
  margin: 0;
  max-width: 420px;
  text-wrap: pretty;
}

.heroButton {
  grid-area: heroButton;
  max-width: 420px;
}

.heroImg {
  grid-area: heroImg;
  width: 100%;
  max-width: 460px;
  height: auto;
  justify-self: center;
}

@media only screen and (max-width: 850px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-areas:
      "heroTitle"
      "heroImg"
      "heroDesc"
      "heroButton";

    text-align: center;
    justify-items: center;
    align-content: center;
    gap: 12px;
    min-height: calc(100svh - 110px);
  }

  .heroTitle,
  .heroDesc,
  .heroButton {
    margin: 0;
  }

  .heroImg {
    width: min(80%, 320px);
    max-width: 350px;
    justify-self: center;
  }

  .heroDesc br {
    display: none;
  }
}