@import './../styles/fontSizes.css';
@import './../styles/colors.css';
@import './../styles/fonts.css';


.hero {
    display: grid;
    grid-template-areas: "heroTitle heroDesc heroButton";
    grid-template-areas: "heroImg";
}

.heroImg {
    width: 25%;
    height: auto;
    margin-left: 70%;
    margin-top: -15%
}


.heroTitle {
    font-size: var(--text-2xl);
    font-family: var(--font-outfit);
    margin-left: 5%;
}

.heroDesc {
    font-size: var(--text-m);
    font-family: var(--font-outfit);
    margin-left: 5%;
}

.heroButton {
    margin-left: 5%;
}