@import "./../styles/fontSizes.css";
@import "./../styles/colors.css";
@import "./../styles/fonts.css";

.problem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problemMainTitle {
  font-size: var(--text-l);
  font-family: var(--font-outfit);
  text-align: center;
}

.problemMainDsc {
  font-size: var(--text-m);
  font-family: var(--font-outfit);
  margin-left: 5%;
}

/* Boxes row layout */
.problemBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.problemBox {
  margin-left: 10vh;
  width: 16rem;
  height: 17rem;
  border-radius: 25px;
  background-color: var(--background-primary);
  display: inline-block;
}

.problemImg {
  margin-top: 15%;
  margin-left: 5%;
}

.problemTitle {
  font-size: var(--text-m);
  font-family: var(--font-outfit);
  margin-top: 5%;
  margin-left: 5%;
}

.problemDsc {
  font-size: var(--text-m);
  font-family: var(--font-outfit);
  margin-left: 5%;
}

/* Mobile */
@media only screen and (max-width: 850px) {
  .problemBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .problemMainTitle,
  .problemMainDsc {
    text-align: center;
    margin-left: 0;
  }

  .problem {
    align-items: center;
    text-align: center;
  }

  .problemBox {
    margin-left: 0;
    margin-top: 5%;
  }
}