@import './../styles/colors.css';
@import './../styles/fonts.css';
@import './../styles/fontSizes.css';

.testimonial {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testimonial-text {
  font-family: var(--font-outfit);
  font-size: var(--text-s);
  line-height: 1.65;
  color: var(--text-secondary);
  font-weight: 400;
}

.testimonial-name {
  font-family: var(--font-outfit);
  font-size: var(--text-s);
  color: var(--text-third);
  font-weight: 400;
}
